{% extends 'base_public.html.twig' %}

{% block whoare %} {% endblock %}
{% block main_content %}
    <section>
        <div class="wrapper">
            <h1>Erreur {{ status_code }}</h1>
            <p>
                {% block error_message %}
                Une erreur s'est produite.
                {% endblock %}
                <b><a href="{{ paprec_public_site_url }}">Retourner à la page
                        d'accueil</a></b>
            </p>
        </div>
    </section>
{% endblock %}