/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea
/web/uploads/files/*
/web/uploads/pictos/*
/web/uploads/pictures/*
/web/assets/vendor/
/app/data/offer/notice/*
/app/data/offer/tmp/*
/app/data/ticketFile/*
