{% extends "@PaprecPublic/Common/Base/package/base_index.html.twig" %}

{% block sidebar_info %}
    {{ render(controller('PaprecPublicBundle:Common:getSideBarInfo')) }}
{% endblock %}

{% block cta_panel %}{% endblock %}

{% block cinq_flux %}{% endblock %}

{% block main_content_index %}

    {% if products is not empty %}
        <div class="container__step">
            <div class="container__step-title">
                <h2>Ma solution recyclage</h2>
            </div>

            <div class="step">
                <div class="step__left">
                    <div class="step__title">
                        {% block product_step_title %}{% endblock %}
                    </div>
                </div>
                <div class="step__right">
                    {% block products %}

                    {% endblock %}
                </div>

            </div>
        </div>


        <div class="clearfix"></div>
        {% block cta_bottom_panel %} {% endblock %}
    {% else %}
        <div class="step step--index">
            <div class="unavailable-area">

            </div>
        </div>
    {% endif %}
{% endblock %}
