.paprec_bottom_area {
  background-color: #333D7F;
  margin-bottom: 3px;
}

.paprec_bottom_area_info {
  color: white;
  display: inline-flex;
}

.paprec_bottom_area_block {
  width: 21%;
  margin: 2%;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 14px;
}

