// Spacing margin and padding
// ex: .m-t-5, .p-l-10
$spaceamounts: (1, 2, 3, 4, 5, 7, 8, 9, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

// Flex
.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  &.column {
    -ms-flex-direction: column;
    -webkit-direction: column;
    flex-direction: column;
  }

  &.flex-start {
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  &.flex-end {
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  &.center {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  &.space-between {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  &.space-around {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }

  &.flex-wrap {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  &.align-items_flex-start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  &.align-items_flex-end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }

  &.align-items_center {
    -webkit-align-items: center;
    align-items: center;
  }
}


.paprec_bottom_area {
  background-color: #333D7F;
  margin-bottom: 3px;
}

.paprec_bottom_area_info {
  color: white;
  display: inline-flex;
}

.paprec_bottom_area_block {
  width: 21%;
  margin: 2%;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 14px;
}

button[disabled], a[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

.paprec-list-files {
  background-color: rgba(37, 36, 36, 0.05);
  margin-left: 17%;
  width: 50%;
  border-radius: 1px;
}

.paprec-file {
  height: 40px;
  color: #5A5A5A;
  font-size: 13px;
  font-weight: 300;
  margin-left: 15px;
  line-height: 25px;
}

/*******************
* FLOATING LABEL
 ****************/
.form-float-group {
  position: relative;
  margin-bottom: 1.5rem;

  &--mid {
    width: 48%;
  }

  &--zip {
    width: 20%;
  }

  &--city {
    width: 76%;
  }
}

.form-float-control-placeholder {
  font-family: "ingra", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #C8C8C8;
  position: absolute;
  top: 0;
  padding: 5px 0 0 0;
  transition: all ease-in-out .3s
}

textarea + .form-float-control-placeholder {
  padding-left: 5px;
}

.form-float-control::placeholder {
  color: transparent;
  opacity: 0;
}

.form-float-control:focus + .form-float-control-placeholder,
.form-float-control:not(:placeholder-shown) + .form-float-control-placeholder {
  font-size: 13px;
  transform: translate3d(0, -100%, 0);
  padding: 0;
}
