{% extends "@PaprecCommercial/Common/PDF/base_pdf.html.twig" %}

{% block stylesheet %}
    <style type="text/css">

        .cover {
            position: relative;
            overflow: hidden;
            margin: 0 auto;
            padding: 80px 0;
            width: 596px; /*format A4*/
            height: 842px; /*format A4*/
        }

        .pdf-cover-title h1 {
            color: #000000;
            font-size: 48px;
            letter-spacing: 4px;
            font-weight: 300;
        }

        .pdf-cover-title h2 {
            color: #cbebfa;
            font-size: 44px;
            letter-spacing: 4px;
            font-weight: 300;

        }

        .pdf-cover-image {
            position: relative;
            width: 850px;
            margin-top: 50px;
        }

        .blue-bg {
            width: 200px;
            height: 370px;
            background-color: #cbebfa;
            position: absolute;
            top: 0;
            left: 70px;
            z-index: -1;
        }

        .pdf-cover-image img {
            margin-top: 30px;
            width: 480px;
            height: 250px;
            object-fit: cover;
        }

        .pdf-cover-image-infos {
            font-family: 'Knockout';
            color: rgba(0,0,0,0.82);
            letter-spacing: 0.5px;
            padding: 10px 0 0 290px;
            font-weight: bold;
            width: 596px;
        }

        .pdf-cover-footer {
            display: flex;
            justify-content: flex-end;
            margin-top: 50px;
        }
        .pdf-cover-footer img {
            height: 80px;
            object-fit: cover;
        }
    </style>
{% endblock %}

{% block pdf_content %}
    <div class="cover">
        <div class="pdf-cover-title">
            <h1>Paprec group</h1>
            <h2>Offre commerciale</h2>
        </div>

        <div class="pdf-cover-image">
            <div class="blue-bg"></div>
            <div>
                <img src="{{ absolute_url(asset('build/static/pdf_cover.jpg')) }}" alt="Illustration Paprec Group">
            </div>
            <div class="pdf-cover-image-infos">
                <p style="margin-bottom: 20px;font-size: 28px;">{% block businessName %} {% endblock %}</p>
                <p style="text-transform: uppercase; font-size: 22px; font-weight: 300">Estimation tarifaire de la prestation demandée</p>
                <p style="font-size: 20px; letter-spacing: 1.5px">Affaire suivie par votre agence locale</p>
                <p style="font-weight: normal; letter-spacing: 1.5px">
                    L’agence en charge de votre demande vous<br>
                    recontactera sous 48h par email ou telephone<br>
                    afin de valider
                    un
                    devis.</p>
            </div>
        </div>

        <div class="pdf-cover-footer">
                <img src="{{ absolute_url(asset('build/static/logo.png')) }}" alt="Logo easy recyclage" style="margin-right: 15px;">
                <img src="{{ absolute_url(asset('build/static/logo-group.png')) }}" alt="Logo easy recyclage">
        </div>
    </div>


{% endblock %}
