<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//FR"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>print contrat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
</head>
<body>
<table>
    <tr>
       {% block header %} {% endblock %}
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td>

                    </td>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            La Corbeille Bleue - 7 rue Pascal - 93126 La Courneuve Cedex – Tél. : 01 41 69 70 00 – easyrecyclage@paprec.com - www.easyrecyclage.com
        </td>
    </tr>
</table>

</body>
</html>
