{% extends "@PaprecCommercial/Common/PDF/base_pdf.html.twig" %}
{% block pdf_content %}
    <tr>
        <td>
            {% block businessName %} {% endblock %}
        </td>
    </tr>
    <tr>
        <td>
            {% block location %} {% endblock %}
        </td>
    </tr>
    <tr>
        <td>
            {% block recipient %} {% endblock %}
        </td>
    </tr>
    <tr>
        <td>
            {% block date %} {% endblock %}
        </td>
    </tr>
    <tr>
        <td>
            {% block quoteNumber %} {% endblock %}
        </td>
    </tr>
    <tr>
        <td>
            {% block civility %} {% endblock %}
        </td>
    </tr>
    <tr>
        <td>
            {% block greeting %} {% endblock %}
        </td>
    </tr>
{% endblock %}
