{% extends "@PaprecCommercial/Common/PDF/base_pdf.html.twig" %}

{% block stylesheet %}
    <style type="text/css">
        .products {
            position: relative;
            overflow: hidden;
            margin: 0 auto;
            padding: 20px 0;
            width: 810px;
        }

        h1 {
            font-size: 42px;
            text-align: center;
        }

        .product-title {
            border-bottom: 2px solid #5A5A5A;
            width: 450px;
            margin: auto;
            padding-bottom: 15px;
        }

        .product-address {
            padding-top: 50px;
            margin-bottom: 90px;
        }
        .product-note {
            margin-top: 50px;
            font-size: 10px;
            position: absolute;
            bottom: 0;
        }

    </style>
{% endblock %}

{% block pdf_content %}

    <div class="products pdf-default">

        <div class="product-title">
            <h1 style="font-family:'Knockout';">
                Composition de votre estimation
            </h1>
        </div>

        <div class="product-address">
            <p style="margin-bottom: 20px;">
                Vous trouverez ci-dessous la composition de votre estimation tarifaire.
            </p>
            <div style="height: 5px">&nbsp;</div>
            <h3 class="bg-blue" >L’addresse de la demande de prestation</h3>
            <div style="height: 20px">&nbsp;</div>
            <p style="font-size: 16px;text-transform: uppercase;">{% block address %}{% endblock %}</p>
            <p style="margin-top: 20px;">Un forfait Recyclage comprenant la collecte, le traitement en centre de tri et la mise à
                disposition du materiel indiqué ci-après :</p>
        </div>

        <div class="product-table-container">
            <h3 class="bg-blue">
                Détail de la prestation demandée* :
            </h3>
            {% block products %}{% endblock %}
        </div>

        <div class="product-note">
            <p style="font-size: 10px;">* Toutes nos tarifications de matériels sont valables sur la base d’un engagement contractuel à déterminer,
                sous réserve de la validation d’implantation et de disponibilités à confirmer par Paprec Techniques.
            </p>
        </div>

{% endblock %}
