<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//FR"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>print contrat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="{{ paprec_public_site_url }}/wp-content/themes/paprec/css/styles.css?te=fesg">
    <style type="text/css">
        html,
        body {
            margin: 0;
            padding: 0;
            text-rendering: optimizeLegibility;
        }

        * {
            box-sizing: border-box;
        }

        p {
            margin: 5px 0;
        }

        h1, h2 {
            font-family: 'Knockout';
            text-transform: uppercase;
            margin: 0;
        }

        h3 {
            font-family: 'Knockout';
            text-transform: uppercase;
            font-size: 15px;
        }

        .pdf-title {
            font-size: 22px;
            font-family: 'Knockout';
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .bg-blue {
            background-color: #cbebfa;
            width: fit-content;
            padding: 0 2px;
        }

        .pdf-default {
            color: #000000 !important;
            font-size: 15px;
            font-family: 'Century';
        }
    </style>
    {% block stylesheet %}{% endblock %}
</head>
<body>
{% block pdf_content %} {% endblock %}
</body>
</html>
