{% autoescape false %}
    {% for link in items %}
        <li><a {% if link['url'] and link['url'] != '' %}href="{{ link['url'] }}" {% else %} href="javascript:void(0);" {% endif %}>{{ link['title'] }}</a>
        </li>
    {% endfor %}
{% endautoescape %}
